
{% extends 'base.html.twig' %}

{% block title %}User Dashboard{% endblock %}

{% block body %}
    <h1>Welcome to User Dashboard</h1>

    {# Display available slots here using a loop #}

    <form method="POST" action="{{ path('app_reservation_new') }}">
        {{ form_widget(form) }}
        <button type="submit">Réserver</button>
    </form>
{% endblock %}
