{% extends 'base.html.twig' %}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tableau de bord de l'utilisateur</h1>

    <h2>Liste des créneaux disponibles :</h2>
    <p>bonjour</p>

    {# <ul>
        {% for stand in stands %}
            <li>
                {{ stand.stand_name }} - {{ stand.location }}
                {% if not stand.reservation %}
                    <form action="{{ path('app_make_reservation', { 'standId': stand.id }) }}" method="post">
                        <button type="submit">Réserver</button>
                    </form>
                {% else %}
                    Réservé
                {% endif %}
            </li>
        {% endfor %}
    </ul> #}
{% endblock %}
