<form method="post" action="{{ path('app_stand_delete', {'id': stand.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stand.id) }}">
    <button class="btn">Supprimer</button>
</form>
