{% extends 'base.html.twig' %}

{% block title %}Éditer Stand{% endblock %}

{% block body %}
    <h1>Éditer Stand</h1>

    {{ include('stand/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_stand_index') }}">Retour</a>

    {{ include('stand/_delete_form.html.twig') }}
{% endblock %}
